* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

.container {
    padding: 50px 250px;
}

header, .hero, footer {
    background-color: #1f2937;
}

header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 15px;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.text p, a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    color: #787b7e;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text {
    margin-right: 0px;
    max-width: 500px;
}

.hero img {
    max-width: 500px;
    border-radius: 10px;
    margin: 10px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 38px;
}

.blocs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.placeholder {
    border: 2px solid #3882F6;
    border-radius: 10px;
    min-width: 40px;
    min-height: 150px;
}

.photo-text {
    max-width: 200px;
}

.grey {
    background-color: #e5e7eb;
    
}

.name {
    text-align: right;
    font-weight: bold;
}

.quote {
    font-size: 34px;
    color: #1f2937;
    font-style: italic;
}

.cta-outside {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cta-inside {
    background-color: #3882F6;
    border-radius: 15px;;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-left: 250px;
    margin-right: 250px;
}

strong {
    font-size: 22px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    border: 0;
}

button:hover {
    color: #3882F6;
    background-color: white;
}

.button-cta {
    border: 1px solid white;
}

footer {
    text-align: center;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 20px;
}